@media only screen and (max-width: 415px) {

#footerNav ul>li {
        font-size: 11px;
    }

.mainBodyM {
    padding-top: 10px;
	position: relative;
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    font-size: 11px;
     line-height: 2.5em;
     align-content: center;
}    

.sideContentM {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    font-size: 11px;
     line-height: 2.5em;
     align-content: center;
}
}    
