.mainBody ul li{
	font-family: "proxima-nova-n4","proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 0px;
    margin-left: 15px;
    list-style: disc;
}